*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:600px ) {
    body{
        font-size: 2px !important;
    }
}
.container{
    background-color:#000000;
    padding: 10px;
    border: 2px solid #0960BD;
    border-radius: 10px;
    
    min-height: 100px;
    width: 350px;
    text-align: center;
    justify-content: space-evenly;
    position: relative;
}

.calculator input{
    border: 0;
    outline: 0;
    width: 58px;
    height: 58px;
    border-radius: 5px;
    box-shadow: -5px -5px 14px #0960BD,5px 5px 15px #83838339;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    margin: 10px;
    transition: box-shadow 0.2s ease;
}
input:active {
    box-shadow: -5px -5px 14px #1c009b;
  }
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
}
.equaltsto{
    width: 141px !important;
}